.padding{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#newsfeed-div{
    border-top: 1px solid #ECECEC;
    width: 36.5%;
}

#battle-text, #musicbox-text{
    z-index: 2;
}

#battle-text{
    padding: 5rem 5rem 3rem 14rem;
}

#battle-div{
    width: 42%;
}

#newsfeed, #battle-img, #musicbox-img, #metube-img{
    width: auto;
}

#musicbox-div{
    width: 49%;
}

#metube-text{
    z-index: 2;
    padding-left: 13rem;
}

#empty{
    width: 8%;
}

#metube-div{
    width: 41%;
}

.icon-div{
    display: flex;
    justify-content: space-between;
}

#icon-div1{
    width: 73%;
}

#icon-div2{
    width: 65.5%;
}

#github{
    padding: 0;
}